Repository Sonia-corporation/sonia-discord, pull requests merged in 2020-04, with the labels that each got.

#145 test(functions): add more coverage
  .eslintrc
  .idea/codeStyles/codeStyleConfig.xml
  PULL_REQUEST_TEMPLATE.md
  src/classes/abstract-config-service.spec.ts
  src/classes/abstract-config-service.ts
  src/environment/constants/environment.spec.ts
  src/environment/constants/environment.ts
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/guilds/functions/is-discord-guild.spec.ts
  src/features/discord/mentions/functions/is-discord-message-mentions.spec.ts
  src/features/discord/messages/functions/is-discord-message.spec.ts
  src/features/discord/messages/services/discord-message-command-service.spec.ts
  src/features/discord/users/functions/is-discord-client-user.spec.ts
  src/features/discord/users/functions/is-discord-user.spec.ts
  src/features/node/functions/get-argument-index.spec.ts
Labels: documentation, enhancement, test

#159 refactor(app-config): split the app config service into multiple serv…
  src/features/app/constants/app-config.spec.ts
  src/features/app/constants/app-config.ts
  src/features/app/enums/app-config-value-name.enum.spec.ts
  src/features/app/enums/app-config-value-name.enum.ts
  src/features/app/services/app-config-service.spec.ts
  src/features/app/services/app-config-service.ts
  src/features/app/services/config/app-config-core-service.spec.ts
  src/features/app/services/config/app-config-core-service.ts
  src/features/app/services/config/app-config-mutation-service.spec.ts
  src/features/app/services/config/app-config-mutation-service.ts
  src/features/app/services/config/app-config-query-service.spec.ts
  src/features/app/services/config/app-config-query-service.ts
  src/features/app/services/config/app-config-service.spec.ts
  src/features/app/services/config/app-config-service.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/messages/services/discord-message-author-service.ts
  src/features/discord/messages/services/discord-message-command-version-service.ts
  src/features/discord/messages/services/discord-message-text-service.ts
  src/features/init/services/init-service.ts
  src/features/server/services/server-service.ts
Labels: enhancement, test

#157 feat(discord): add command error
  README.md
  src/features/discord/interfaces/discord-message-command-config.ts
  src/features/discord/interfaces/discord-message-command-error-config.ts
  src/features/discord/messages/constants/discord-message-config.spec.ts
  src/features/discord/messages/constants/discord-message-config.ts
  src/features/discord/messages/enums/discord-message-command.enum.spec.ts
  src/features/discord/messages/enums/discord-message-command.enum.ts
  src/features/discord/messages/services/discord-message-command-error-service.ts
  src/features/discord/messages/services/discord-message-command-service.spec.ts
  src/features/discord/messages/services/discord-message-command-service.ts
  src/features/discord/messages/services/discord-message-config-service.spec.ts
  src/features/discord/messages/services/discord-message-config-service.ts
Labels: documentation, enhancement, test

#162 refactor(logger-config): split into multiple services
  src/features/init/services/init-service.ts
  src/features/logger/constants/logger-config.ts
  src/features/logger/enums/logger-config-value-name.enum.spec.ts
  src/features/logger/enums/logger-config-value-name.enum.ts
  src/features/logger/services/config/logger-config-core-service.spec.ts
  src/features/logger/services/config/logger-config-core-service.ts
  src/features/logger/services/config/logger-config-mutator-service.spec.ts
  src/features/logger/services/config/logger-config-mutator-service.ts
  src/features/logger/services/config/logger-config-service.spec.ts
  src/features/logger/services/config/logger-config-service.ts
  src/features/logger/services/logger-config-service.spec.ts
  src/features/logger/services/logger-config-service.ts
  src/features/logger/services/logger-service.spec.ts
  src/features/logger/services/logger-service.ts
Labels: enhancement, test

#171 refactor(server-config): split into multiple services
  src/features/init/services/init-service.ts
  src/features/server/constants/server-config.spec.ts
  src/features/server/constants/server-config.ts
  src/features/server/enums/server-config-value-name.enum.spec.ts
  src/features/server/enums/server-config-value-name.enum.ts
  src/features/server/services/config/server-config-core-service.spec.ts
  src/features/server/services/config/server-config-core-service.ts
  src/features/server/services/config/server-config-mutator-service.spec.ts
  src/features/server/services/config/server-config-mutator-service.ts
  src/features/server/services/config/server-config-service.spec.ts
  src/features/server/services/config/server-config-service.ts
  src/features/server/services/server-config-service.spec.ts
  src/features/server/services/server-config-service.ts
  src/features/server/services/server-service.ts
Labels: enhancement, test

#172 refactor(discord-guild-config): split into multiple services
  src/features/discord/guilds/constants/discord-guild-config.spec.ts
  src/features/discord/guilds/constants/discord-guild-config.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.spec.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.ts
  src/features/discord/guilds/services/config/discord-guild-config-core-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-core-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.ts
  src/features/discord/guilds/services/discord-guild-config-service.spec.ts
  src/features/discord/guilds/services/discord-guild-config-service.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/messages/services/discord-message-error-service.ts
Labels: enhancement, test

#168 refactor(github-config): split into multiple services
  src/features/discord/messages/services/discord-message-error-service.ts
  src/features/github/constants/github-config.ts
  src/features/github/enums/github-config-value-name.enum.spec.ts
  src/features/github/enums/github-config-value-name.enum.ts
  src/features/github/services/config/github-config-core-service.spec.ts
  src/features/github/services/config/github-config-core-service.ts
  src/features/github/services/config/github-config-mutator-service.spec.ts
  src/features/github/services/config/github-config-mutator-service.ts
  src/features/github/services/config/github-config-service.spec.ts
  src/features/github/services/config/github-config-service.ts
  src/features/github/services/github-config-service.ts
  src/features/init/services/init-service.ts
Labels: enhancement, test

#166 refactor(discord-message-config): split into multiple services
  src/features/discord/messages/constants/discord-message-config.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/config/discord-message-config-core-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-core-service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator-service.ts
  src/features/discord/messages/services/config/discord-message-config-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-service.ts
  src/features/discord/messages/services/discord-message-command-error-service.ts
  src/features/discord/messages/services/discord-message-command-service.spec.ts
  src/features/discord/messages/services/discord-message-command-service.ts
  src/features/discord/messages/services/discord-message-command-version-service.ts
  src/features/discord/messages/services/discord-message-config-service.spec.ts
  src/features/discord/messages/services/discord-message-config-service.ts
  src/features/discord/messages/services/discord-message-error-service.ts
  src/features/init/services/init-service.ts
Labels: enhancement, test

#167 refactor(discord-sonia-config): split into multiple services
  src/features/discord/authentications/services/discord-authentication-service.ts
  src/features/discord/users/constants/discord-sonia-config.spec.ts
  src/features/discord/users/constants/discord-sonia-config.ts
  src/features/discord/users/enums/discord-sonia-config-value-name.enum.spec.ts
  src/features/discord/users/enums/discord-sonia-config-value-name.enum.ts
  src/features/discord/users/services/config/discord-sonia-config-core-service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-core-service.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator-service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator-service.ts
  src/features/discord/users/services/config/discord-sonia-config-service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-service.ts
  src/features/discord/users/services/discord-sonia-config-service.ts
  src/features/discord/users/services/discord-sonia-service.ts
  src/features/init/services/init-service.ts
Labels: enhancement, test

#179 test(config): add better coverage for config related code
  .eslintrc
  jest.config.js
  src/features/app/services/config/app-config-mutator-service.spec.ts
  src/features/app/services/config/app-config-mutator-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator-service.ts
  src/features/discord/messages/services/config/discord-message-config-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-service.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator-service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator-service.ts
  src/features/discord/users/services/config/discord-sonia-config-service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-service.ts
  src/features/github/services/config/github-config-mutator-service.spec.ts
  src/features/github/services/config/github-config-mutator-service.ts
  src/features/github/services/config/github-config-service.spec.ts
  src/features/github/services/config/github-config-service.ts
  src/features/init/services/init-service.ts
  src/features/logger/services/config/logger-config-mutator-service.spec.ts
  src/features/logger/services/config/logger-config-mutator-service.ts
  src/features/logger/services/config/logger-config-service.spec.ts
  src/features/logger/services/config/logger-config-service.ts
  src/features/server/services/config/server-config-mutator-service.spec.ts
  src/features/server/services/config/server-config-mutator-service.ts
Labels: enhancement, test

#183 test(coverage): add more coverage for the functions
  jest.config.js
  src/features/node/functions/get-environment-port.spec.ts
  src/features/node/functions/get-node-argument-by-index.spec.ts
  src/features/node/functions/get-node-argument.spec.ts
  src/features/node/functions/has-command-line-arguments.spec.ts
  src/features/node/functions/has-command-line-arguments.ts
  src/features/node/functions/is-existing-argument.spec.ts
  src/features/node/functions/is-node-production.spec.ts
  src/features/node/functions/is-node-production.ts
  src/features/node/functions/is-valid-argument-index.spec.ts
  src/features/node/functions/is-valid-port.spec.ts
  src/features/node/functions/is-valid-port.ts
Labels: enhancement, test

#184 test(coverage): add coverage for global functions
  src/features/discord/messages/services/discord-message-command-version-service.ts
  src/features/discord/users/services/discord-sonia-service.ts
  src/functions/checks/is-unknown.spec.ts
  src/functions/checks/is-unknown.ts
  src/functions/checks/is-valid-date.spec.ts
  src/functions/formatters/boolean-to-string.spec.ts
  src/functions/formatters/get-bearer.spec.ts
  src/functions/formatters/remove-undefined.spec.ts
  src/functions/formatters/wrap-in-quotes.spec.ts
  src/functions/randoms/get-random-value-from-enum.spec.ts
  src/functions/randoms/get-random-value-from-enum.ts
Labels: enhancement, test

#191 fix(discord): remove useless empty rows
  src/features/discord/messages/services/discord-message-command-error-service.ts
  src/features/discord/messages/services/discord-message-command-help-service.ts
Labels: bug, enhancement

#148 feat(config): add config field to display config profile name when de…
  CONTRIBUTING.md
  README.md
  src/environment/interfaces/environment-logger.ts
  src/environment/interfaces/environment-profile.ts
  src/environment/interfaces/environment.ts
  src/features/discord/functions/add-discord-dev-prefix.spec.ts
  src/features/discord/functions/add-discord-dev-prefix.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/messages/services/discord-message-author-service.ts
  src/features/discord/messages/services/discord-message-text-service.ts
  src/features/init/services/init-service.ts
  src/features/profile/constants/profile-config.ts
  src/features/profile/interfaces/profile-config.ts
  src/features/profile/services/profile-config-service.spec.ts
  src/features/profile/services/profile-config-service.ts
Labels: documentation, enhancement, test

#203 test(mock): use the new version of createMock to create mocks
  .all-contributorsrc
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/guilds/functions/is-discord-guild.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/mentions/functions/is-discord-message-mentions.spec.ts
  src/features/discord/messages/functions/is-discord-message.spec.ts
  src/features/discord/messages/services/discord-message-author-service.ts
  src/features/discord/messages/services/discord-message-command-service.spec.ts
  src/features/discord/messages/services/discord-message-text-service.ts
  src/features/discord/users/functions/is-discord-client-user.spec.ts
  src/features/discord/users/functions/is-discord-user.spec.ts
  src/features/github/services/config/github-config-mutator-service.ts
  src/features/init/services/init-service.ts
  src/features/profile/services/profile-config-service.spec.ts
  src/functions/randoms/get-random-value-from-enum.spec.ts
Labels: documentation, enhancement, test

#206 refactor(profile-config): refactor to follow the new pattern for conf…
  src/features/discord/functions/add-discord-dev-prefix.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/messages/services/discord-message-author-service.ts
  src/features/discord/messages/services/discord-message-text-service.ts
  src/features/github/services/config/github-config-mutator-service.spec.ts
  src/features/init/services/init-service.ts
  src/features/profile/constants/profile-config.ts
  src/features/profile/interfaces/profile-config.ts
  src/features/profile/services/config/profile-config-core-service.spec.ts
  src/features/profile/services/config/profile-config-core-service.ts
  src/features/profile/services/config/profile-config-mutator-service.spec.ts
  src/features/profile/services/config/profile-config-mutator-service.ts
  src/features/profile/services/config/profile-config-service.spec.ts
  src/features/profile/services/config/profile-config-service.ts
  src/features/profile/services/profile-config-service.spec.ts
  src/features/profile/services/profile-config-service.ts
Labels: enhancement, test

#205 chore(contributors): add more stuff for valembois
  .all-contributorsrc
  README.md
  package.json
Labels: documentation, enhancement

#207 feat(context): add the profile name inside messages
  CONTRIBUTING.md
  jest.config.js
  package.json
  src/features/discord/functions/add-discord-dev-prefix.spec.ts
  src/features/discord/functions/add-discord-dev-prefix.ts
  src/features/discord/functions/get-discord-dev-prefix.spec.ts
  src/features/discord/functions/get-discord-dev-prefix.ts
  src/features/discord/services/__mocks__/discord-client-service.ts
  src/features/discord/users/services/discord-sonia-service.spec.ts
  src/features/discord/users/services/discord-sonia-service.ts
  src/functions/checks/is-valid-date.ts
Labels: documentation, enhancement, test

#209 chore(master): update from develop
  .all-contributorsrc
  CONTRIBUTING.md
  README.md
  jest.config.js
  package-lock.json
  package.json
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/functions/add-discord-dev-prefix.spec.ts
  src/features/discord/functions/add-discord-dev-prefix.ts
  src/features/discord/functions/get-discord-dev-prefix.spec.ts
  src/features/discord/functions/get-discord-dev-prefix.ts
  src/features/discord/guilds/functions/is-discord-guild.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/mentions/functions/is-discord-message-mentions.spec.ts
  src/features/discord/messages/functions/is-discord-message.spec.ts
  src/features/discord/messages/services/discord-message-author-service.ts
  src/features/discord/messages/services/discord-message-command-service.spec.ts
  src/features/discord/messages/services/discord-message-text-service.ts
  src/features/discord/services/__mocks__/discord-client-service.ts
  src/features/discord/users/functions/is-discord-client-user.spec.ts
  src/features/discord/users/functions/is-discord-user.spec.ts
  src/features/discord/users/services/discord-sonia-service.spec.ts
  src/features/discord/users/services/discord-sonia-service.ts
  src/features/github/services/config/github-config-mutator-service.spec.ts
  src/features/github/services/config/github-config-mutator-service.ts
  src/features/init/services/init-service.ts
  src/features/profile/constants/profile-config.ts
  src/features/profile/interfaces/profile-config.ts
  src/features/profile/services/config/profile-config-core-service.spec.ts
  src/features/profile/services/config/profile-config-core-service.ts
  src/features/profile/services/config/profile-config-mutator-service.spec.ts
  src/features/profile/services/config/profile-config-mutator-service.ts
  src/features/profile/services/config/profile-config-service.spec.ts
  src/features/profile/services/config/profile-config-service.ts
  src/features/profile/services/profile-config-service.spec.ts
  src/features/profile/services/profile-config-service.ts
  src/functions/checks/is-valid-date.ts
  src/functions/randoms/get-random-value-from-enum.spec.ts
Labels: documentation, test

#210 chore(readme): fix spellcheck errors on the readme
  .all-contributorsrc
  README.md
  src/features/discord/messages/services/discord-message-command-version-service.ts
  src/features/discord/users/enums/discord-sonia-emotional-state.enum.spec.ts
  src/features/discord/users/enums/discord-sonia-emotional-state.enum.ts
  src/features/discord/users/services/discord-sonia-service.spec.ts
  src/features/discord/users/services/discord-sonia-service.ts
Labels: documentation, enhancement, test

#211 chore(master): update from develop
  .all-contributorsrc
  README.md
  src/features/discord/messages/services/discord-message-command-version-service.ts
  src/features/discord/users/enums/discord-sonia-emotional-state.enum.spec.ts
  src/features/discord/users/enums/discord-sonia-emotional-state.enum.ts
  src/features/discord/users/services/discord-sonia-service.spec.ts
  src/features/discord/users/services/discord-sonia-service.ts
Labels: documentation, test

#214 feat(discord): send cookie message when joining a guild
  README.md
  src/features/discord/authentications/services/discord-authentication-service.ts
  src/features/discord/enums/discord-emoji.enum.spec.ts
  src/features/discord/enums/discord-emoji.enum.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.spec.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.ts
  src/features/discord/guilds/services/config/discord-guild-config-core-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-core-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.ts
  src/features/discord/guilds/services/discord-guild-create-service.spec.ts
  src/features/discord/guilds/services/discord-guild-create-service.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/guilds/services/discord-guild-service.ts
  src/features/discord/interfaces/discord-guild-config.ts
  src/features/discord/interfaces/discord-message-command-config.ts
  src/features/discord/interfaces/discord-message-command-cookie-config.ts
  src/features/discord/logger/services/discord-logger-service.ts
  src/features/discord/messages/enums/command/cookie/discord-message-command-cookie-description.enum.spec.ts
  src/features/discord/messages/enums/command/cookie/discord-message-command-cookie-description.enum.ts
  src/features/discord/messages/enums/command/cookie/discord-message-command-cookie-title.enum.spec.ts
  src/features/discord/messages/enums/command/cookie/discord-message-command-cookie-title.enum.ts
  src/features/discord/messages/enums/command/discord-message-command.enum.spec.ts
  src/features/discord/messages/enums/command/discord-message-command.enum.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/command/discord-message-command-cookie-service.ts
  src/features/discord/messages/services/command/discord-message-command-error-service.ts
  src/features/discord/messages/services/command/discord-message-command-help-service.ts
  src/features/discord/messages/services/command/discord-message-command-service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-service.ts
  src/features/discord/messages/services/command/discord-message-command-version-service.ts
  src/features/discord/messages/services/config/discord-message-config-core-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-core-service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator-service.ts
  src/features/discord/messages/services/config/discord-message-config-service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-service.ts
  src/features/discord/messages/services/discord-message-dm-service.ts
  src/features/discord/messages/services/discord-message-service.ts
  src/features/discord/messages/services/discord-message-text-service.ts
  src/features/discord/services/__mocks__/discord-client-service.ts
  src/features/discord/services/discord-service.ts
  src/features/init/services/init-service.ts
Labels: documentation, enhancement, test

#217 feat(discord): send message when it is noon
  README.md
  package-lock.json
  package.json
  src/features/app/services/config/app-config-query-service.ts
  src/features/discord/channels/services/discord-channel-guild-service.ts
  src/features/discord/functions/get-discord-dev-prefix.spec.ts
  src/features/discord/functions/get-discord-dev-prefix.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.spec.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.ts
  src/features/discord/guilds/services/config/discord-guild-config-core-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-core-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator-service.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-service.ts
  src/features/discord/guilds/services/discord-guild-create-service.ts
  src/features/discord/guilds/services/discord-guild-member-add-service.ts
  src/features/discord/interfaces/discord-guild-config.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi-service.ts
  src/features/discord/services/discord-service.ts
  src/features/time/services/__mocks__/time-service.ts
  src/features/time/services/time-service.spec.ts
  src/features/time/services/time-service.ts
  src/functions/schedule/get-every-hour-schedule-rule.spec.ts
  src/functions/schedule/get-every-hour-schedule-rule.ts
  src/functions/schedule/get-noon-schedule-rule.spec.ts
  src/functions/schedule/get-noon-schedule-rule.ts
Labels: documentation, enhancement, test

#223 refactor(mock): change the chalk mock
  src/features/config/services/config.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/logger/interfaces/logger-service-created.ts
  src/features/logger/services/__mocks__/chalk.service.ts
  src/features/logger/services/logger.service.spec.ts
  src/features/logger/services/logger.service.ts
Labels: enhancement, test

#234 feat(discord): send discord errors to sonia discord errors channel
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/channels/services/discord-channel-guild.service.ts
  src/features/discord/channels/services/discord-channel-sonia.service.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.spec.ts
  src/features/discord/guilds/enums/discord-guild-config-value-name.enum.ts
  src/features/discord/guilds/enums/discord-guild-sonia-channel-name.enum.spec.ts
  src/features/discord/guilds/enums/discord-guild-sonia-channel-name.enum.ts
  src/features/discord/guilds/interfaces/discord-guild-sonia-send-message-to-channel.ts
  src/features/discord/guilds/services/config/discord-guild-config-core.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-core.service.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.ts
  src/features/discord/guilds/services/config/discord-guild-config.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.spec.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/interfaces/discord-guild-config.ts
  src/features/discord/logger/services/discord-logger.service.ts
  src/features/discord/messages/services/command/discord-message-command-error.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
Labels: enhancement, test

#237 feat(discord): send message at noon based on paris timezone
  README.md
  package-lock.json
  package.json
  scripts/build-update-app-initialization-date.js
  scripts/logger.js
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/logger/services/discord-logger-warning.service.ts
  src/features/discord/messages/services/command/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.ts
  src/features/discord/messages/services/command/discord-message-command-version.service.ts
  src/features/discord/messages/services/discord-message-error.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/time/services/time.service.spec.ts
  src/features/time/services/time.service.ts
  src/functions/checks/is-valid-date.spec.ts
  src/functions/checks/is-valid-date.ts
  src/functions/schedule/get-every-hour-schedule-rule.spec.ts
  src/functions/schedule/get-every-hour-schedule-rule.ts
  src/functions/schedule/get-every-minute-schedule-rule.spec.ts
  src/functions/schedule/get-every-minute-schedule-rule.ts
  src/functions/schedule/get-noon-schedule-rule.spec.ts
  src/functions/schedule/get-noon-schedule-rule.ts
Labels: documentation, enhancement, test

#251 chore(master): update from develop
  README.md
  package-lock.json
  package.json
  scripts/build-update-app-initialization-date.js
  scripts/logger.js
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/logger/services/discord-logger-warning.service.ts
  src/features/discord/messages/services/command/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.ts
  src/features/discord/messages/services/command/discord-message-command-version.service.ts
  src/features/discord/messages/services/discord-message-error.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/time/services/time.service.spec.ts
  src/features/time/services/time.service.ts
  src/functions/checks/is-valid-date.spec.ts
  src/functions/checks/is-valid-date.ts
  src/functions/schedule/get-every-hour-schedule-rule.spec.ts
  src/functions/schedule/get-every-hour-schedule-rule.ts
  src/functions/schedule/get-every-minute-schedule-rule.spec.ts
  src/functions/schedule/get-every-minute-schedule-rule.ts
  src/functions/schedule/get-noon-schedule-rule.spec.ts
  src/functions/schedule/get-noon-schedule-rule.ts
Labels: documentation, test

#255 build(codecov): add codecov configuration
  .github/workflows/build.yml
  README.md
  codecov.yml
Labels: documentation, enhancement

#258 test(app-config-services): add coverage for getInstance and constructor
  .github/workflows/build.yml
  src/classes/abstract-config.service.ts
  src/classes/abstract.service.ts
  src/features/app/services/config/app-config-core.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.ts
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/app/services/config/app-config.service.spec.ts
Labels: enhancement, test

#259 test(discord-guild-config-services): add more coverage
  src/features/app/services/config/app-config-core.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/app/services/config/app-config.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-core.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.ts
  src/features/discord/guilds/services/config/discord-guild-config.service.spec.ts
Labels: enhancement, test

#260 test(server-config-services): add more coverage
  src/features/server/services/config/server-config-core.service.spec.ts
  src/features/server/services/config/server-config-mutator.service.spec.ts
  src/features/server/services/config/server-config-mutator.service.ts
  src/features/server/services/config/server-config.service.spec.ts
Labels: enhancement, test, waiting

#261 test(profile-config-services): add more coverage
  src/features/profile/services/config/profile-config-core.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.ts
  src/features/profile/services/config/profile-config.service.spec.ts
Labels: enhancement, test

#262 test(github-config-services): add more coverage
  src/features/github/services/config/github-config-core.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.ts
  src/features/github/services/config/github-config.service.spec.ts
Labels: enhancement, test

#263 test(config-services): add more coverage
  src/features/discord/messages/services/config/discord-message-config-core.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.ts
  src/features/discord/messages/services/config/discord-message-config.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-core.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.ts
  src/features/discord/users/services/config/discord-sonia-config.service.spec.ts
  src/features/logger/services/config/logger-config-core.service.spec.ts
  src/features/logger/services/config/logger-config-mutator.service.spec.ts
  src/features/logger/services/config/logger-config-mutator.service.ts
  src/features/logger/services/config/logger-config.service.spec.ts
Labels: enhancement, test

#268 refactor(config): add new method getUpdatedStringOrArray
  src/features/app/services/config/app-config-core.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/app/services/config/app-config.service.spec.ts
  src/features/config/interfaces/config-update-string-or-array-internal.ts
  src/features/config/interfaces/config-update-string-or-array.ts
  src/features/config/services/config.service.spec.ts
  src/features/config/services/config.service.ts
  src/features/discord/guilds/services/config/discord-guild-config-core.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config.service.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.spec.ts
  src/features/discord/messages/enums/discord-message-config-value-name.enum.ts
  src/features/discord/messages/services/config/discord-message-config-core.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.ts
  src/features/discord/messages/services/config/discord-message-config.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-core.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config.service.spec.ts
  src/features/github/services/config/github-config-core.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/github/services/config/github-config.service.spec.ts
  src/features/logger/services/__mocks__/logger.service.ts
  src/features/logger/services/config/logger-config-core.service.spec.ts
  src/features/logger/services/config/logger-config-mutator.service.spec.ts
  src/features/logger/services/config/logger-config.service.spec.ts
  src/features/logger/services/logger.service.ts
  src/features/profile/services/config/profile-config-mutator.service.spec.ts
  src/features/server/services/config/server-config-core.service.spec.ts
  src/features/server/services/config/server-config-mutator.service.spec.ts
  src/features/server/services/config/server-config.service.spec.ts
Labels: enhancement, test

#271 feat(discord): add is ready observable and replace ready event
  src/features/core/services/core-event.service.spec.ts
  src/features/discord/authentications/services/discord-authentication.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/guilds/services/discord-guild.service.ts
  src/features/discord/services/discord-client.service.spec.ts
  src/features/discord/services/discord-client.service.ts
Labels: enhancement, test

#275 chore(docs): add docs for errors and logs
  CONTRIBUTING.md
Labels: documentation, enhancement

#276 feat(discord): handle the case where discord send string error
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/logger/services/discord-logger.service.ts
Labels: enhancement

#272 feat(date): add humanized log when updating a date inside the config
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.ts
  src/features/config/interfaces/config-update-date-internal.ts
  src/features/config/interfaces/config-update-date.ts
  src/features/config/services/config.service.spec.ts
  src/features/config/services/config.service.ts
  src/features/time/services/time.service.ts
Labels: enhancement, test

#282 feat(discord): send message error to Sonia discord errors channel
  src/features/discord/messages/services/discord-message-error.service.ts
Labels: enhancement

#285 chore(cleanup): remove useless functions
  src/functions/asserts/assert-is-nil.ts
  src/functions/asserts/assert-is-null.ts
  src/functions/asserts/assert-is-undefined.ts
Labels: enhancement
