Repository Sonia-corporation/sonia-discord, pull requests merged in 2020-05, with the labels that each got.

#287 test(config): add more coverage for `updateConfig` method
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/logger/services/config/logger-config-mutator.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.ts
  src/features/server/services/config/server-config-mutator.service.spec.ts
Labels: enhancement, test

#292 feat(error): send noon errors to Sonia discord errors channel
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
Labels: enhancement

#290 test(chalk): add more coverage and small refactor
  src/features/logger/constants/chalk.spec.ts
  src/features/logger/constants/chalk.ts
  src/features/logger/enums/chalk-color.enum.spec.ts
  src/features/logger/enums/chalk-color.enum.ts
  src/features/logger/enums/logger-config-level.enum.spec.ts
  src/features/logger/services/chalk.service.spec.ts
  src/features/logger/services/chalk.service.ts
Labels: enhancement, test

#299 chore(master): update from develop
  package-lock.json
  package.json
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.spec.ts
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/logger/constants/chalk.spec.ts
  src/features/logger/constants/chalk.ts
  src/features/logger/enums/chalk-color.enum.spec.ts
  src/features/logger/enums/chalk-color.enum.ts
  src/features/logger/enums/logger-config-level.enum.spec.ts
  src/features/logger/services/chalk.service.spec.ts
  src/features/logger/services/chalk.service.ts
  src/features/logger/services/config/logger-config-mutator.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.ts
  src/features/server/services/config/server-config-mutator.service.spec.ts
  src/functions/asserts/assert-is-nil.ts
  src/functions/asserts/assert-is-null.ts
  src/functions/asserts/assert-is-undefined.ts
Labels: test

#301 test(services): add coverage for init methods
  src/features/discord/authentications/services/discord-authentication.service.spec.ts
  src/features/discord/authentications/services/discord-authentication.service.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.spec.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/guilds/services/discord-guild.service.spec.ts
  src/features/discord/logger/services/discord-logger.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-cookie.service.ts
  src/features/discord/messages/services/command/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.ts
  src/features/discord/messages/services/command/discord-message-command-version.service.ts
  src/features/discord/messages/services/command/discord-message-command.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command.service.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.spec.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/discord/services/discord.service.spec.ts
  src/features/init/services/init.service.spec.ts
  src/features/logger/services/logger.service.spec.ts
Labels: enhancement, test

#330 feat(github): configure the weekly digest bot
  .github/weekly-digest.yml
Labels: enhancement

#333 feat(github): configure the helpr bot
  .github/config.yml
Labels: enhancement

#337 test(discord): add more coverage
  src/features/discord/messages/services/command/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-version.service.ts
Labels: enhancement, test

#365 chore(renovate): rewrite the whole configuration (Reconfigure Renovate)
  .renovaterc.json
Labels: enhancement

#341 test(discord): refactor the mocks for the message command version
  src/features/discord/messages/services/command/discord-message-command-version.service.spec.ts
Labels: enhancement, test

#345 test(discord): add more coverage for the discord-message-command-help service
  src/features/discord/messages/services/command/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.ts
  src/features/discord/messages/services/command/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-version.service.ts
Labels: enhancement, test

#348 chore(app): add more logs about the secret environment
  scripts/create-secret-environment.js
  src/features/init/services/init.service.ts
Labels: enhancement

#357 test(discord): add more coverage for the message command error service
  CONTRIBUTING.md
  package.json
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/messages/services/command/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-error.service.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.ts
Labels: documentation, enhancement, test

#346 feat(discord): allow $ as prefix
  README.md
  src/environment/constants/environment.spec.ts
  src/environment/constants/environment.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command-help.service.ts
Labels: documentation, enhancement, test

#380 feat(discord): use a mention instead of text when welcoming user
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
Labels: enhancement

#382 feat(discord): when replying use a mention to display the username
  src/features/discord/messages/services/discord-message-author.service.ts
Labels: enhancement

#386 refactor(discord): allow - prefix instead of --
  README.md
  src/environment/constants/environment.spec.ts
  src/environment/constants/environment.ts
  src/features/discord/messages/services/command/discord-message-command.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
Labels: documentation, enhancement, test

#398 feat(discord): add random activity
  CONTRIBUTING.md
  README.md
  package.json
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/activities/constants/discord-presence-activity-listening.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-listening.ts
  src/features/discord/activities/constants/discord-presence-activity-playing.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-playing.ts
  src/features/discord/activities/constants/discord-presence-activity-watching.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-watching.ts
  src/features/discord/activities/constants/discord-presence-activity.spec.ts
  src/features/discord/activities/constants/discord-presence-activity.ts
  src/features/discord/activities/interfaces/discord-presence-activity.ts
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/messages/services/discord-message-text.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/discord/services/discord.service.spec.ts
  src/features/discord/services/discord.service.ts
  src/features/schedules/functions/get-next-job-date-humanized.spec.ts
  src/features/schedules/functions/get-next-job-date-humanized.ts
  src/features/schedules/functions/get-next-job-date.spec.ts
  src/features/schedules/functions/get-next-job-date.ts
  src/features/time/functions/from-now.spec.ts
  src/features/time/functions/from-now.ts
  src/features/time/services/time.service.ts
Labels: documentation, enhancement, test

#413 feat(discord): add new sonia activities
  src/features/discord/activities/constants/discord-presence-activity-watching.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-watching.ts
Labels: feature-request

#431 fix(discord): the guildMemberAdd event will no longer crash Sonia
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.spec.ts
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
Labels: bug, enhancement, test

#435 chore(master): update from develop
  .eslintrc
  package-lock.json
  package.json
  scripts/build-environment-rewrite-path.js
  scripts/build-update-app-initialization-date.js
  scripts/logger.js
  src/classes/abstract-config.service.ts
  src/classes/abstract.service.ts
  src/features/app/services/config/app-config.service.spec.ts
  src/features/config/services/config.service.spec.ts
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/authentications/services/discord-authentication.service.spec.ts
  src/features/discord/channels/functions/is-discord-dm-channel.spec.ts
  src/features/discord/channels/functions/is-discord-guild-channel.spec.ts
  src/features/discord/channels/functions/is-discord-text-channel.spec.ts
  src/features/discord/channels/functions/types/is-discord-guild-channel-writable.spec.ts
  src/features/discord/functions/add-discord-dev-prefix.ts
  src/features/discord/guilds/functions/is-discord-guild.spec.ts
  src/features/discord/guilds/services/config/discord-guild-config.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.spec.ts
  src/features/discord/logger/services/discord-logger.service.spec.ts
  src/features/discord/mentions/functions/is-discord-message-mentions.spec.ts
  src/features/discord/messages/functions/is-discord-message.spec.ts
  src/features/discord/messages/services/command/cookie/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/discord-message-command.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/lunch/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/services/discord-client.service.spec.ts
  src/features/discord/users/functions/is-discord-client-user.spec.ts
  src/features/discord/users/functions/is-discord-user.spec.ts
  src/features/init/services/init.service.spec.ts
  src/features/init/services/init.service.ts
  src/features/logger/enums/logger-config-level-value.enum.ts
  src/features/logger/services/__mocks__/logger.service.ts
  src/features/logger/services/config/logger-config.service.spec.ts
  src/features/logger/services/config/logger-config.service.ts
  src/features/logger/services/logger.service.ts
  src/features/node/functions/has-command-line-arguments.spec.ts
  src/features/node/functions/is-existing-argument.spec.ts
  src/features/node/functions/is-node-production.spec.ts
  src/features/node/functions/is-valid-argument-index.spec.ts
  src/features/node/functions/is-valid-port.spec.ts
  src/features/node/functions/is-valid-port.ts
  src/functions/checks/is-unknown.spec.ts
  src/functions/checks/is-valid-date.spec.ts
  src/functions/formatters/boolean-to-string.spec.ts
  src/functions/formatters/boolean-to-string.ts
  src/functions/randoms/get-random-value-from-enum.ts
  tsconfig.json
Labels: test

#438 fix(discord): always fetch the release notes for the current app version
  package-lock.json
  package.json
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.ts
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/app/services/config/app-config-query.service.ts
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/github/functions/queries/get-github-query-release-by-tag-and-total-count.spec.ts
  src/features/github/functions/queries/get-github-query-release-by-tag-and-total-count.ts
  src/features/github/interfaces/github-release-and-total-count.ts
  src/features/github/interfaces/github-releases-latest-and-total-count.ts
  src/features/init/services/init.service.ts
Labels: bug, enhancement

#417 chore(contributing): add more information about contributors
  README.md
  package.json
Labels: documentation, enhancement

#426 feat(discord): use a memorized emotional state
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/discord/emotional-states/enums/discord-sonia-emotional-state.enum.spec.ts
  src/features/discord/emotional-states/enums/discord-sonia-emotional-state.enum.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.spec.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.ts
  src/features/discord/services/discord.service.spec.ts
  src/features/discord/services/discord.service.ts
  src/features/discord/users/services/discord-sonia.service.ts
Labels: enhancement, test

#418 refactor(discord): use an enum for the activities
  src/features/discord/activities/constants/discord-presence-activity-listening.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-listening.ts
  src/features/discord/activities/constants/discord-presence-activity-playing.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-playing.ts
  src/features/discord/activities/constants/discord-presence-activity-watching.spec.ts
  src/features/discord/activities/constants/discord-presence-activity-watching.ts
  src/features/discord/activities/enums/discord-activity-type.enum.spec.ts
  src/features/discord/activities/enums/discord-activity-type.enum.ts
Labels: enhancement, test

#419 feat(dev-prefix): allow to add a discord id for the dev prefix
  .eslintrc
  CONTRIBUTING.md
  scripts/create-secret-environment.js
  src/environment/interfaces/environment-profile.ts
  src/features/discord/functions/add-discord-dev-prefix.spec.ts
  src/features/discord/functions/add-discord-dev-prefix.ts
  src/features/discord/functions/dev-prefix/add-discord-dev-prefix.spec.ts
  src/features/discord/functions/dev-prefix/add-discord-dev-prefix.ts
  src/features/discord/functions/dev-prefix/get-discord-dev-prefix.spec.ts
  src/features/discord/functions/dev-prefix/get-discord-dev-prefix.ts
  src/features/discord/functions/get-discord-dev-prefix.spec.ts
  src/features/discord/functions/get-discord-dev-prefix.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/interfaces/dev-prefix/add-discord-dev-prefix.ts
  src/features/discord/interfaces/dev-prefix/get-discord-dev-prefix.ts
  src/features/discord/messages/services/discord-message-author.service.ts
  src/features/discord/messages/services/discord-message-text.service.ts
  src/features/discord/users/services/discord-sonia.service.ts
  src/features/profile/interfaces/profile-config.ts
  src/features/profile/services/config/profile-config-core.service.spec.ts
  src/features/profile/services/config/profile-config-core.service.ts
  src/features/profile/services/config/profile-config-mutator.service.spec.ts
  src/features/profile/services/config/profile-config-mutator.service.ts
  src/features/profile/services/config/profile-config.service.spec.ts
  src/features/profile/services/config/profile-config.service.ts
Labels: documentation, enhancement, test

#471 build(dependencies): update eslint-plugin-typescript-sort-keys
  package-lock.json
  package.json
Labels: enhancement

#474 feat(chalk): use fallback colors of my choice
  src/classes/abstract-config.service.spec.ts
  src/classes/abstract-config.service.ts
  src/enums/service-name.enum.spec.ts
  src/enums/service-name.enum.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/config/services/config.service.spec.ts
  src/features/config/services/config.service.ts
  src/features/discord/activities/services/discord-activity-sonia.service.spec.ts
  src/features/discord/activities/services/discord-activity-sonia.service.ts
  src/features/discord/authentications/services/discord-authentication.service.spec.ts
  src/features/discord/authentications/services/discord-authentication.service.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.spec.ts
  src/features/discord/emotional-states/services/discord-sonia-emotional-state.service.ts
  src/features/discord/guilds/services/config/discord-guild-config-mutator.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.spec.ts
  src/features/discord/guilds/services/discord-guild-sonia.service.ts
  src/features/discord/guilds/services/discord-guild.service.spec.ts
  src/features/discord/guilds/services/discord-guild.service.ts
  src/features/discord/logger/services/discord-logger-error.service.ts
  src/features/discord/logger/services/discord-logger-warning.service.ts
  src/features/discord/logger/services/discord-logger.service.spec.ts
  src/features/discord/logger/services/discord-logger.service.ts
  src/features/discord/messages/services/command/cookie/discord-message-command-cookie.service.spec.ts
  src/features/discord/messages/services/command/error/discord-message-command-error.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/lunch/discord-message-command-lunch.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/config/discord-message-config-mutator.service.spec.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/discord/users/services/config/discord-sonia-config-mutator.service.spec.ts
  src/features/github/services/config/github-config-mutator.service.spec.ts
  src/features/init/services/init.service.ts
  src/features/logger/constants/chalk.spec.ts
  src/features/logger/constants/chalk.ts
  src/features/logger/constants/chalk/chalk-instance.spec.ts
  src/features/logger/constants/chalk/chalk-instance.ts
  src/features/logger/constants/chalk/chalk-levels-humanized.spec.ts
  src/features/logger/constants/chalk/chalk-levels-humanized.ts
  src/features/logger/enums/chalk/chalk-color.enum.spec.ts
  src/features/logger/enums/chalk/chalk-color.enum.ts
  src/features/logger/services/chalk.service.ts
  src/features/logger/services/chalk/__mocks__/chalk.service.ts
  src/features/logger/services/chalk/chalk-color.service.spec.ts
  src/features/logger/services/chalk/chalk-color.service.ts
  src/features/logger/services/chalk/chalk.service.spec.ts
  src/features/logger/services/chalk/chalk.service.ts
  src/features/logger/services/config/logger-config-mutator.service.spec.ts
  src/features/logger/services/logger.service.spec.ts
  src/features/logger/services/logger.service.ts
  src/features/profile/services/config/profile-config-mutator.service.spec.ts
  src/features/server/services/config/server-config-mutator.service.spec.ts
  src/features/server/services/server.service.ts
Labels: enhancement, test

#467 feat(discord): do not log empty messages
  src/features/discord/authentications/services/discord-authentication.service.spec.ts
  src/features/discord/guilds/services/discord-guild-create.service.spec.ts
  src/features/discord/guilds/services/discord-guild-member-add.service.spec.ts
  src/features/discord/logger/services/discord-logger.service.spec.ts
  src/features/discord/messages/services/discord-message.service.spec.ts
  src/features/discord/messages/services/discord-message.service.ts
Labels: enhancement, test

#464 feat(discord): reduce the end of lines for the help command
  src/features/discord/messages/services/command/help/discord-message-command-help.service.spec.ts
  src/features/discord/messages/services/command/help/discord-message-command-help.service.ts
Labels: feature-request, test

#484 chore(github): change of bunch of small things to enhance github and release
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/semantic.yml
  .releaserc.json
Labels: enhancement

#460 feat(discord): enhance the version command
  README.md
  package.json
  src/features/app/enums/app-config-value-name.enum.spec.ts
  src/features/app/enums/app-config-value-name.enum.ts
  src/features/app/interfaces/app-config.ts
  src/features/app/services/config/app-config-core.service.spec.ts
  src/features/app/services/config/app-config-core.service.ts
  src/features/app/services/config/app-config-mutator.service.spec.ts
  src/features/app/services/config/app-config-mutator.service.ts
  src/features/app/services/config/app-config-query.service.spec.ts
  src/features/app/services/config/app-config-query.service.ts
  src/features/app/services/config/app-config.service.spec.ts
  src/features/app/services/config/app-config.service.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.spec.ts
  src/features/discord/messages/services/command/version/discord-message-command-version.service.ts
  src/features/discord/messages/services/schedule/discord-message-schedule-il-est-midi.service.ts
  src/features/time/enums/timezone.enum.spec.ts
  src/features/time/enums/timezone.enum.ts
Labels: bug, documentation, enhancement, test

#489 chore(release): enhance semantic release
  .releaserc.json
  README.md
  package.json
Labels: documentation, enhancement
